.ProductContainer{
    width: 230px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s all;
    /* border: thin dotted #f00; */
}

.ProductContainer:hover{
    transform: translateY(-7px);
}

.Zapatilla{
    width: 100%;
    height: 220px;
    /* border: thin dotted #f00; */
}

.Name{ 
    width: 100%;
    height: 70px;
    font-size: 16px;
    font-family: 'Zen Kurenaido', sans-serif;
    font-weight: 100;
    line-height: 20px;
    color: #000;
    /* border: thin dotted #f00; */
}

.Price{
    color: #000;
    font-size: 24px;
    /* border: thin dotted #f00; */
}

.IconShoppingContainer{
    width: 50%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color:  rgb(197, 197, 197);
    transition: 0.5s all;
    /* border: thin dotted #f00; */
}

.IconShopping:hover{
    cursor: pointer;
    background: linear-gradient(360deg, #9E0000, #FF0000);
    color: #00000050;
}

.IconShopping{
    width: 30px;
    height: 30px;
    margin: 0 10px;
    border-radius: 20px;
    background-color: #00000010;
    background: '-moz-linear-gradient(top, #9E0000 0%, #FF0000 100%)';
    background: '-webkit-linear-gradient(top, #9E0000 0%, #FF0000 100%)';
    background: 'linear-gradient(to top, #9E0000 0%, #FF0000 100%)';
}
