.file {
  width: 410px;
  height: 33px;
  display: none;
  z-index: 10000;
}
.subir {
  margin-left: 10px;
  padding: 5px 5px;
  background: #ea5103;
  color: #fff;
  border-radius: 5px;
  float: left;
  border: 0px solid #fff;
}
.subir:hover {
  background: #ea2203;
  cursor: pointer;
}
.info {
  width: 250px;
  float: left;
  font-size: 15px;
  position: relative;
  margin-left: 10px;
  margin-top: 8px;
}

.postear{
    margin-left: 10px;
    padding: 5px 5px;
    background: #ea5103;
    color: #fff;
    border-radius: 5px;
    float: left;
    border: 0px solid #fff;
}
.postear:hover {
    background: #ea2203;
    cursor: pointer;
}

.boxForm3 {
  width: 446px;
  height: 45px;
  margin-top: 10px;
  margin-bottom: 5px;
  float: left;
}

.formProduct {
  display: flex;
  position: relative;
}

.boxInputProduct {
  height: 70px;
  width: 270px;
  /* border: 1px solid  #f00; */
}
.titleProduct {
  font-size: 15px;
  margin: 0px 0 0 10px;
  color: #555;
  width: 60px;
}
.inputProduct {
  margin: 0 0 0 10px;
  outline: none;
  height: 30px;
  width: 220px;
  border: 1px solid #555;
  border-radius: 3px;
}
.errorText {
  font-size: 13px;
  margin: 0 0 0 10px;
  color: red;
  width: 220px;
}
.secondBoxProduct {
  width: 50%;
  /* border: 1px solid  #f00; */
}

.selectProduct {
  outline: none;
  height: 30px;
  width: 220px;
  border: 1px solid #555;
  border-radius: 3px;
  color: #555;
}

.selectSize,
.inputStock {
  outline: none;
  height: 30px;
  width: 80px;
  padding-left: 10px;
  border: 1px solid #555;
  border-radius: 3px;
  color: #555;
}

.boxSelectProduct {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 235px;
  /* border: thin solid #0f0; */
}

.boxSelectSizes {
  width: 115px;
  height: 70px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: thin solid rgb(255, 230, 0); */
}

.boxSelectSizes2 {
  width: 115px;
  height: 70px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  /* border: thin solid rgb(255, 230, 0); */
}

.boxTextarea {
  height: 90px;
  margin: 40px 0 0 10px;
}

.textarea {
  width: 220px;
  height: 90px;
  border: none;
  outline: none;
  resize: none;
  font-size: 14px;
  padding-left: 5px;
  border: 1px solid #555;
}

.titleStockProduct {
  width: 80px;
  font-size: 15px;
  margin: 0px 0 0 10px;
  color: #555;
}

.buttonStock {
  width: 140px;
  height: 40px;
  margin-left: 10px;
  margin-bottom: 35px;
  border: none;
  outline: none;
}

.stockNumber {
  font-size: 14px;
  margin: 0px;
}

.deleteStock {
  background-color: red;
  color: white;
  outline: none;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.boxBtnCreate {
  margin-top: 15px;
  margin-right: 36px;
  height: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.btnCreate {
  width: 140px;
  height: 40px;
  outline: none;
  border: none;
  transition: all 0.3s ease-in-out;
}
.btnCreate:hover {
  background-color: #555;
  border-radius: 5px;
  color: white;
}

.renderSizesProduct {
  height: 27px;
  display: flex;
  justify-content: space-evenly;
  width: auto;
}

.AddTallesContainer {
  padding: 0 20px 0 0;
  width: 220px;
  height: 100px;
  position: absolute;
  left: 15px;
  border-radius: 5px;
  top: 380px;
  overflow-y: scroll;
  z-index: 99999999;
  border: thin solid #ccc;
  /* border: thin solid #f00; */
}

.boxStockProduct {
  border: thin solid #0f0;
}
