.img-profile img{
    width: 200px;
    height: 200px;
    border-radius: 999999px;
}

.home{
    text-decoration: none;
    color:#fc4444;
}
.home:hover{
    color: #ff1313;
}
.profile-content{
    margin-left: 4rem;
    border: 2px solid red;
    width: 55rem;
    height: 40rem;
}
.profile-cont{
    margin-left: 4rem;
    border: 2px solid red;
    width: 55rem;
    height: 21rem;
}
.label-profile{
    margin-right: 12px;
    font-weight: 700;
    width: 85px;
    background-color: rgb(211, 211, 211);
}
.label-cont{
    border: 1px solid red;
    width: max-content;
}