.ContainerBrand{
    width: 100%;
    height: 700px;
    background: #000;
}

@media (min-width: 1200px) and (max-width: 1399px){
    .ContainerBrand{
        width: 100%;
        height: 500px;
        background: #000;
    }
}