.SliderContainer{
    width: 100vw;
    height: 250px;
    margin: 100px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1)) */
    /* background: rgb(193, 255, 157); */
    background: #cccccc40;
    /* border: thin dotted #f00; */
}

.Slider{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* border: thin dotted #f00; */
}

.Marca1, .Marca2, .Marca3, .Marca4, .Marca5, .Marca6, .Marca7, .Marca8, .Marca9, .Marca10, .Marca11, .Marca12{
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.5s all;
    /* border: thin dotted #f00; */
}

.Marca1:hover, .Marca2:hover, .Marca3:hover, .Marca4:hover, .Marca5:hover, .Marca6:hover, .Marca7:hover, .Marca8:hover, .Marca9:hover, .Marca10:hover, .Marca11:hover, .Marca12:hover{
    cursor: pointer;
}

.Marca1{
    background-image: url('../../assets/nike.png');
    background-size: 90%;
}

.Marca2{
    background-image: url('../../assets/adidaslogo.png');
    background-size: 120%;
}

.Marca3{
    background-image: url('../../assets/under.png');
    background-size: 80%;
}

.Marca4{
    background-image: url('../../assets/puma.png');
    background-size: 80%;
}

.Marca5{
    background-image: url('../../assets/gucci.png');
    background-size: 100%;
}

.Marca6{
    background-image: url('../../assets/vanslogo.png');
    background-size: 70%;
}

.Marca7{
    background-image: url('../../assets/nike2.png');
    background-size: 90%;
}

.Marca8{
    background-image: url('../../assets/off-white.png');
    background-size: 70%;
}

.Marca9{
    width: 170px;
    background-image: url('../../assets/balenciaga.png');
    background-size: 100%;
}

.Marca10{
    background-image: url('../../assets/jordan.png');
    background-size: 80%;
}

.Marca11{
    background-image: url('../../assets/reebok.png');
    background-size: 100%;
}

.Marca12{
    background-image: url('../../assets/adidas2.png');
    background-size: 80%;
}

.SliderTitle{
    font-size: 25px;
}

.carousel-indicators [data-bs-target]{
    background-color: #ccc;
}

@media (min-width: 1200px) and (max-width: 1399px){
    
    .SliderTitle{
        font-size: 14px;
    }

}

@media (min-width: 992px) and (max-width: 1199px){
    
    .SliderTitle{
        font-size: 14px;
    }

}

@media (min-width: 768px) and (max-width: 991px){
    
    .SliderTitle{
        font-size: 16px;
    }

}