.BrandContainer{
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.BrandImageBalenciaga, .BrandImageGucci{
    width: 100vw;
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: thin dotted #f00; */
}

.BrandImageBalenciaga{
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1)), url('../../assets/balenciaga-campaign.jpg');
}

.BrandImageGucci{
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1)), url('../../assets/gucci-campaign.jpg');
}

.BrandImageGucci h3{
    margin-top: 50px;
    font-size: 7vw;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3vw;
    text-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}

.BrandProducts{
    width: 70vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 30px;
    /* border: thin dotted #f00; */
}

.BrandProductsCards{
    width: 235px;
    height: 350px;
    /* border: thin dotted #f00; */
}