<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
</head>
<body>
    <div>
        <div> 
            <img src='../utils/Logo.png' alt='logo' > 
        </div>
        <p> <%= nombre  %> </p>
    </div>

    <div> compraste ... ALGO </div>
    <div> FOTOS </div>

    <div>
        <h3> Resumen de tu compra</h3>
        <p> Envio a domicilio: </p>
        <p> ACA VA EL DOMICILIO </p>
        <p> Pagaste: </p>
        <p> ACA VA EL PRECIO </p>
    </div>

    <div> <button> Mis compras </button></div>
    
</body>
</html>

    