.reg-Cont{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1)), url('../../assets/botasMarino.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.reg-Box{
    border: solid #ccc 1px;
    background: #fff;
    width: 900px;
    height: 600px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    top: 10vh;
    padding: 15px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}
.reg-Box h1{
    text-align: left;
    margin-left: 80px;
}

.data-Field-reg{
    width: 350px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    outline: none;
}
.data-Field-reg{
 font-size: 16px;
}
.no-validate{
    font-size: 14px;
    text-align: start;
    color: red;
    font-weight: 600;
}
.validate{
    font-size: 16px;
    text-align: start;
    margin-left: 180px;
    color: green;
    font-weight: 600;
}
.data-Field-reg p{
    font-size: 16px;
}
.data-Field-reg a{
    font-size: 16px;
    text-decoration: none;
    color: #fc4444;
}
.data-log-box{
    margin-left: 115px;
}
.form-box-reg{
    margin-top: 35px;
    margin-left: 55px;
    width: fit-content;
}
.Field-reg{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
    border: thin solid #ccc;
    outline: none;
}
.btn-reg{
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 5px;
    margin-left:  100px; ;
    background:none;
    border: thin solid #ccc;
    outline: none;
}
.btn-reg:hover{
    background-color: #fc4444; 
    transition-duration: 1s;
    font-size: 15px;
    font-weight: 100;
    transform:scale(1.1);
}
.btn-reg:after{
    transition: all 0.3s ease-in-out;
    transition-duration: 1s;
}